.wrap{
	background: gold;
	width: 900px;
	
	margin: 10px auto;
}

/*bagian header*/
.wrap .header{
	background: url(11.gif);
	width		:880px;
	height		:180px;
	/*height: 50px;*/
	padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
	background: teal;
}

.wrap .menu ul{
color:white;
	padding: 0;
	margin: 0;
	background: teal;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.wrap .menu ul li a{
     color:white;
/*akhir menu*/
}
.clear{
	clear: both;
}

.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: pink;
	float: left;	
	width: 25%;
	height: 100%;
}
.wrap .badan.sidebar ul li a{
     color:white;
/*akhir sidebar*/
}
.wrap .badan .content{
	background: cyan;
	float: left;
	height: 100%;
	width: 75%;	
}

.wrap .footer{
	width: 100%;
	padding: 10px;
}